# SPDX-FileCopyrightText: 2023 Johannes Krauser III <krauser@hey.com>
#
# SPDX-License-Identifier: CC0-1.0

# Foundry
cache/
out/

# JS
node_modules/

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/

# Envirnoment variables
.env
*.local
abis/